<div id="home_top"> 
  
  <p class="prediccion">El cielo caerá sobre nuestras cabezas con una probabilidad del <strong><%= @average_performance %>%</strong></p>
  
  <p class="aemet">
  <%
  aemet = case @average_performance
    when 90..100 then "AEMET está sembrada hoy"
    when 60..90 then "AEMET no lo hace mal del todo, pero podría mejorar"
    when 40..60 then "AEMET debería dedicarse a otra cosa"
    else "No se como AEMET se atreve a cobrar por los datos de hoy"
  end
  -%>
  <%= aemet %>
  </p>
</div>


<div id="home_middle">
  <div class="top5">
    <h2>Las que mas aciertan...</h2>
    <table class="max" cellspacing="0" cellpadding="0" class="max">
      <thead>
        <tr>
          <th>Provincia</th>
          <th><abbr title="Porcentaje de acierto de AEMET">%</abbr></th>
        </tr>
      </thead>
      <tbody>
        <% for city in City.best do %>
        <tr>
          <td><%= city.name %></td>
          <td class="porcentaje"><%= city.general_prediction_success * 100 %>%</td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    
    <h2>...y las que menos</h2>
    <table class="min" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>Provincia</th>
          <th><abbr title="Porcentaje de acierto de AEMET">%</abbr></th>
        </tr>
      </thead>
      <tbody>
       	<% for city in City.worst do %>
        <tr>
          <td><%= city.name %></td>
          <td class="porcentaje"><%= city.general_prediction_success * 100 %> %</td>
        </tr>
        <% end -%>
      </tbody>
    </table>
    
    <p class="lnk"><%= link_to "Ver todas &raquo", cities_path %></p>
  </div>
  
  <div class="stats">
    <h2>¿Qué tal ha ido AEMET en los ultimos 15 días?</h2>
    <div id="graph_placeholder">
    </div>
  </div>
</div>




<% content_for :js do %>
  <!--[if IE]>
  <%= javascript_include_tag 'flot/excanvas.min' %>
  <![endif]-->
  
  <script type="text/javascript" charset="utf-8">
    // Data es un array de arrays, cada item del primer array son coordenadas de la gráfica, tal que asi:
    // [eje_x, eje_y]
    // En nuestro caso: eje_x va de 0 a 14, siendo 0 hace 15 días; y 14 el día de ayer
    // eje_y es simplemente el porcentaje para ese día
    var data = [];

    <% Aemet.for_graph.each do |point| %>
      data.push([<%= point[0] %>, <%= point[1]*100 %>]);
    <% end %>
    
  </script>
  
  
  <%= javascript_include_tag 'flot/jquery.flot.min', 'home-chart' %>
<% end -%>
