<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Prolix - Los hombres del tiempo no siempre adivinan</title>
  
  <%= stylesheet_link_tag 'master.css' %>
  
</head>
<body<%= %{ id="#{@body_id}"} unless @body_id.nil? %>>
  
  <div id="alert">
    <p>Aviso a navegantes! Prolix, como todo lo bueno, necesita tiempo. Para poder realizar correctamente nuestras adivinaciones necesitamos recoger datos de AEMET durante varios días. Es posible que mientras tanto veas datos sin sentido alguno. pedimos disculpas, pero las reglas de la competición nos impedían recoger datos antes.</p>
    <p>Más información en <a href="http://theprolixproject.tumblr.com" title="prolix">http://theprolixproject.tumblr.com</a></p>
  </div>
  
  <%= render :partial => 'layouts/head' %>
  
  <div id="container">
    <%= yield %>
  </div>
  
  
  <%= javascript_include_tag 'jquery-1.4.2.min.js' %>
  <%= yield(:js) %>
  
</body>
</html>